<!-- FIXME: Change all this! -->

<h1>Printer Bridge</h1>

<p>This is a simple bridge for connecting content design for BERG's "Little Printer" to the <a href="http://exciting.io/printer">Printer</a> federated internet-connected printer platform.</p>

<p>It's a fairly trivial piece of software. You supply it with your Printer URL, and the URL to a publication designed for Little Printer, and it will schedule sequential deliveries of that content to your printer</p>

<hr>

<!-- This link will let people register their printer with your application. -->
<p>You can <a href="/register">register your printer</a> with this application.</p>

<hr>

<h2>Some caveats</h2>

<p>This is really just a proof-of-concept, and a number of things won't or may not work properly, including by not limited to:</p>

<ul>
  <li><p>Picking a specific time to print</p></li>
  <li><p>Coalescing several publications into a single printout</p></li>
  <li><p>Handling when a publication ends (i.e. returns a 410 code></p></li>
  <li><p>Unsubscribing</p></li>
  <li><p>Handling publications that require user-specific information</p></li>
</ul>

<p>It wouldn't be particularly hard to add these features, should anyone be particularly motivated.</p>

<hr>

<!-- You can probably remove all this -->
<h2>More information about Printer</h2>

<p>To find out more, you can take a look at any (or all) of the following:</p>
<ul>
  <li>The <a href="http://exciting.io/2012/04/12/hello-printer/">introductory blog post</a>;</li>
  <li>The <a href="http://exciting.io/printer">project page</a>;</li>
  <li>The <a href="http://printer.exciting.io">backend server</a> we are running;</li>
  <li>The <a href="https://github.com/exciting-io/printer-bridge">source for this app</a>, the <a href="https://github.com/exciting-io/printer-mail">mail app</a>, the <a href="https://github.com/exciting-io/printer-paint">paint app</a> or the <a href="https://github.com/exciting-io/printer">backend server itself</a>.</li>
</ul>
