<html>
  <head>
    <link rel="stylesheet" href="http://printer.exciting.io/stylesheets/print.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/javascripts/app.js"></script>
  </head>
  <body class="preview">
    <div class="paper">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
